{% extends "bundle://admin/layout"%}
{% import 'bundle://admin/menu' %}

{% block importJs%}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.4.0/bootstrap-table.min.js"></script>
{% endblock%}
{% block importCss%}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.4.0/bootstrap-table.min.css">
{% endblock%}


{%block menu%}
{{adminMenu('core/text')}}
{%endblock%}

{%block body%}
<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">        
        {{ result | beanForm | raw }}
    </div>
</div>
{%endblock%}

