{% extends "bundle://admin/layout"%}
{% import 'bundle://admin/menu' %}

{% block importJs%}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.js"></script>
<script src="{{ '/dataSelect2.js' | href}}"></script>
{% endblock%}
{% block importCss%}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.css">
<link rel="stylesheet" href="{{'/asset/select2-bootstrap.css' | href}}">

{% endblock%}



{%block menu%}
{{adminMenu('core/menu')}}
{%endblock%}

{%block body%}
<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">        
        {{ result | beanForm | raw }}
    </div>
</div>

{%endblock%}

